.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

td .alert {
	margin-bottom: 0px;
}

.horiz-scroll {
	overflow: auto;
}

thead>tr>th{
	color: black;
}

.table td, .table th {
    border: none;
}


/** Configuration **/

.configuration a, .configuration button {
	width: 80px;
	margin: 15px;
}

/** Notification **/

.badge {
	position: absolute;
}

.notifications-content {
	position: absolute;
	z-index: 999;

	max-height: 430px;
	overflow-y: auto;
}

.notifications-content .badge {
	background-color: #428bca;
}

