.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

td .alert {
	margin-bottom: 0px;
}

.horiz-scroll {
	overflow: auto;
}

thead>tr>th{
	color: black;
}

.table td, .table th {
    border: none;
}


/** Configuration **/

.configuration a, .configuration button {
	width: 80px;
	margin: 15px;
}

/** Notifications **/