* {
    box-sizing: border-box;
}

.horiz-scroll {
    overflow: auto;
}

/** TABLE **/

table {
    display: table;
    max-width: 100%;

    border-color: gray;
    background-color: transparent;
}

table.poll {
    border-collapse: separate;
    border-spacing: 0;
    position: relative;
}

table.poll th {
    font-size: 13px;
    line-height: 20px;
    font-weight: normal;

    width: 150px;
    min-width: 50px;
}

table.poll tr.date th {
    background: #2fa4e7;
    color: #fff;
}

table.poll tr.header th {
    padding: 0 10px 0;
}

/** MONTH **/

table.poll tr.date.month th {
    padding-top: 7px;
    padding-bottom: 3px;
}

/** DAY **/

table.poll tr.date.day th {
    padding-bottom: 6px;
    padding-right: 10px;
}

/** TIME **/

table.poll tr.time th {
    padding-top: 11px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 8px;
    font-size: 12px;
    color: #323232;
    background-color: #f5f5f5;
    text-align: center;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
    text-align: left;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}

/** PARTICIPANT **/

table.poll tr.participant td.pname {
    position: relative;
    min-width: 180px;
    width: 180px;
    border-top: 1px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 0 5px 0 5px;
    border-right: 5px solid #fff;

    background-color: #f5f5f5;
}

table.poll tr.participant td {
    margin-left: 3px;
    font-size: 15px;
    padding: 8px 0 5px 0;
    vertical-align: middle;
    overflow: hidden;
}

/** VOTE **/
table.poll tr.participant td.n {
    color: #a94442;
    background-color: #f2dede;
}

table.poll tr.participant td.y {
    color: #5cb85c;
    background-color: #dff0d8;
}

table.poll tr.participant td.u {
    color: #8a6d3b;
    background-color: #fcf8e3;
}

table.poll tr.participant td.partTableCell {
    border-right: 2px solid #fff;
    text-align: center;
}

table.poll th {
    border-right: 2px solid #fff;
}

table.poll th:last-child {
    border-right: none;
}

table.poll tr.participant td.partTableCell:last-child {
    border-right: none;
}

table.poll tr th.nonHeader {
    background: #fff;
}

