<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Doodle</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">  <!-- load fontawesome -->

    <style>
        body { padding-top: 80px; }
    </style>
</head>
<body>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">

            <div class="jumbotron text-center">
                <h1><%= __('New schedule') %></h1>
                <br/>

                <form action="#" method="post">

                    <div class="form-inline">
                        <div class="form-group" style="width: 49%;">
                            <input type="date" name="begin_date" class="form-control">
                        </div>
                        <div class="form-group" style="width: 49%;"> 
                            <input type="text" name="begin_hour" placeholder="HH:mm" class="form-control"> 
                        </div> 
                    </div>

                    <div class="form-inline">
                        <div class="form-group" style="width: 49%;">
                            <input type="date" name="end_date" class="form-control">
                        </div>
                        <div class="form-group" style="width: 49%;"> 
                            <input type="text" name="end_hour" placeholder="HH:mm" class="form-control"> 
                        </div> 
                    </div>
                    
                    <button type="submit" class="btn btn-default"><%= __('Submit') %></button>
                </form>

            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>
</body>
</html>