<!doctype html>
<html lang="fr">
<head>
  	<meta charset="utf-8">
  	<title>Doodle</title>

  	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->

	<style>
		body { padding-top: 80px; }
	</style>
</head>
<body>
	<div class="container">
		<div class="jumbotron text-center">
			<h1>An error occured</h1>

			<p><%= err %></p>

		</div>
	</div>
</body>
</html>