<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Doodle</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">  <!-- load fontawesome -->

    <style>
        body { padding-top: 80px; }
    </style>
</head>
<body>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">

            <div class="jumbotron text-center">
                <h1>Add user</h1>
                <br/>

                <form action="#" method="post">
                    <div class="form-group">
                        <select name="user" class="form-control">
                            <% for (var key in users ) { %>
                                <option value='<%= users[key].id %>'><%= users[key].first_name%> <%= users[key].last_name%></option>
                            <% } %>
                        </select>
                    </div>
                    
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>

            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>
</body>
</html>